* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #C9D6FF;
    background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);
    background: linear-gradient(to left, #E2E2E2, #C9D6FF);
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

#login {
    background: white;
    width: 480px;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
}

#login h1 {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 35px;
}

#login button {
    width: 100%;
    height: 50px;
    margin: 5px 0 50px 0;
    background: slateblue;
    border: none;
    border-radius: 25px;
    color: white;
    /* text-transform: uppercase; */
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

#login input {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    background: #E7E7E7;
    border: none;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}

#login p {
    padding-bottom: 5px;
    font-style: italic;
}

#login a {
    color: slateblue;
    font-weight: 600;
}

#display {
    position: relative;
}

#canvas {
    background: black;
}

#ui {
    display: flex;
}

#chat {
    min-width: 240px;
    width: 100%;
    margin-right: 10px;
}

#chat input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
}

#chat input::placeholder {
    font-style: italic;
}

#chat-box {
    height: 220px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    overflow-y: scroll;
}

#menu {
    min-width: 240px;
    height: 100%;
}

.hidden {
    display: none;
}

.pm {
    font-style: italic;
}